In [39]:
import numpy as n
import pandas as p

In [40]:
pwd

'/Users/ka53/Desktop/ml-practice/draft'

In [41]:
df = p.read_csv('/Users/ka53/Downloads/England Football Results.csv')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 120 entries, Div to BFECAHA
dtypes: float64(96), int64(16), object(8)
memory usage: 93.9+ KB

In [43]:
df.head(70)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,E0,05/10/2024,15:00,West Ham,Ipswich,4,1,H,2,1,...,1.94,1.99,1.93,2.00,1.95,2.02,1.90,1.97,1.94,2.05
66,E0,05/10/2024,17:30,Everton,Newcastle,0,0,D,0,0,...,1.92,2.01,1.92,2.01,1.93,2.01,1.87,1.99,1.96,2.02
67,E0,06/10/2024,14:00,Aston Villa,Man United,0,0,D,0,0,...,1.88,2.05,1.96,1.96,1.99,2.05,1.91,1.95,1.96,2.02
68,E0,06/10/2024,14:00,Chelsea,Nott'm Forest,1,1,D,0,0,...,2.09,1.84,2.11,1.81,2.13,1.88,2.07,1.80,2.16,1.85
69,E0,06/10/2024,16:30,Brighton,Tottenham,3,2,H,0,2,...,1.94,1.99,1.90,2.03,1.97,2.03,1.88,1.99,1.93,2.06

In [44]:
df.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000
mean,1.550000,1.330000,0.760000,0.590000,14.340000,12.650000,5.300000,4.280000,11.560000,11.290000,...,1.950800,1.966200,1.958400,1.969200,1.994000,2.005400,1.929500,1.942500,1.985400,2.00500
std,1.225775,1.015586,0.911431,0.712018,5.942859,4.944898,2.996631,2.000404,3.610646,3.817279,...,0.091758,0.091063,0.090963,0.092602,0.095102,0.095404,0.087471,0.089853,0.094146,0.09533
min,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000,1.000000,1.000000,2.000000,1.000000,...,1.730000,1.730000,1.740000,1.810000,1.830000,1.820000,1.780000,1.770000,1.800000,1.82000
25%,1.000000,1.000000,0.000000,0.000000,10.000000,9.000000,3.000000,3.000000,9.000000,9.000000,...,1.880000,1.900000,1.880000,1.897500,1.910000,1.930000,1.847500,1.870000,1.907500,1.93000
50%,1.000000,1.000000,1.000000,0.000000,14.000000,12.000000,5.000000,4.000000,11.500000,11.000000,...,1.950000,1.980000,1.960000,1.960000,1.990000,1.995000,1.935000,1.930000,1.990000,2.00000
75%,2.000000,2.000000,1.000000,1.000000,18.250000,16.000000,7.000000,5.250000,14.000000,14.000000,...,2.030000,2.050000,2.030000,2.045000,2.070000,2.090000,2.000000,2.022500,2.060000,2.08000
max,5.000000,6.000000,4.000000,2.000000,36.000000,24.000000,16.000000,10.000000,19.000000,21.000000,...,2.100000,2.110000,2.150000,2.210000,2.200000,2.240000,2.110000,2.120000,2.200000,2.22000

In [45]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

In [46]:
df = df.drop(columns=['BFECAHA','BFECAHH','AvgCAHA','AvgCAHH','MaxCAHA','MaxCAHH','PCAHA','PCAHH','B365CAHA','B365CAHH'])

In [47]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365C<2.5,PC>2.5,PC<2.5,MaxC>2.5,MaxC<2.5,AvgC>2.5,AvgC<2.5,BFEC>2.5,BFEC<2.5,AHCh
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,2.30,1.63,2.38,1.66,2.45,1.61,2.37,1.68,2.46,-0.75
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,3.20,1.37,3.30,1.40,3.38,1.37,3.18,1.40,3.40,1.50
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,3.00,1.41,2.98,1.45,3.00,1.42,2.93,1.44,3.20,-2.25
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.97,1.93,1.97,1.95,2.00,1.89,1.96,1.94,2.04,0.25
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,2.75,1.46,2.85,1.46,3.05,1.43,2.84,1.49,2.98,-1.25

In [48]:
df = df.drop(columns=['AHCh','BFEC<2.5','BFEC>2.5','AvgC<2.5','AvgC>2.5','MaxC<2.5','MaxC>2.5','PC<2.5','PC>2.5','B365C<2.5'])

In [49]:
df = df.drop(columns=['B365C>2.5','BFECA','BFECD','BFECH','AvgCA','AvgCD','AvgCH','MaxCA','MaxCD','MaxCH'])

In [50]:
df = df.drop(columns=['1XBCA','1XBCD','1XBCH','WHCA','WHCD','WHCH','PSCA','PSCD','PSCH','BFCA'])

In [51]:
df.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF',
       'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH',
       'BWD', 'BWA', 'BFH', 'BFD', 'BFA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD',
       'WHA', '1XBH', '1XBD', '1XBA', 'MaxH', 'MaxD', 'MaxA', 'AvgH', 'AvgD',
       'AvgA', 'BFEH', 'BFED', 'BFEA', 'B365>2.5', 'B365<2.5', 'P>2.5',
       'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'BFE>2.5',
       'BFE<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH',
       'MaxAHA', 'AvgAHH', 'AvgAHA', 'BFEAHH', 'BFEAHA', 'B365CH', 'B365CD',
       'B365CA', 'BWCH', 'BWCD', 'BWCA', 'BFCH', 'BFCD'],
      dtype='object')

In [52]:
df = df.drop(columns=['BFCD','BFCH','BWCA','B365CA', 'BWCH', 'BWCD','MaxAHA', 'AvgAHH', 'AvgAHA', 'BFEAHH', 'BFEAHA', 'B365CH', 'B365CD','BFE<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH','P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'BFE>2.5','AvgA', 'BFEH', 'BFED', 'BFEA', 'B365>2.5', 'B365<2.5', 'P>2.5','WHA', '1XBH', '1XBD', '1XBA', 'MaxH', 'MaxD', 'MaxA', 'AvgH', 'AvgD','BWD', 'BWA', 'BFH', 'BFD', 'BFA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD','B365H', 'B365D', 'B365A', 'BWH',])

In [53]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,5,2,12,10,7,8,2,3,0,0
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2,5,9,18,2,10,3,1,0,0
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,6,3,17,14,8,2,2,2,0,0
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1,5,8,8,1,5,1,1,1,0
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1,4,15,16,3,12,2,4,1,0

In [54]:
df.columns

Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF',
       'HC', 'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [55]:
df = df.drop(columns=['HTAG','HTHG','HTR'])

In [56]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,HS,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,R Jones,14,...,5,2,12,10,7,8,2,3,0,0
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,T Robinson,7,...,2,5,9,18,2,10,3,1,0,0
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,J Gillett,18,...,6,3,17,14,8,2,2,2,0,0
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,S Hooper,9,...,1,5,8,8,1,5,1,1,1,0
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,C Pawson,3,...,1,4,15,16,3,12,2,4,1,0

In [57]:
df = df.drop(columns=['Div','HF','AF','AC','HC'])

In [58]:
df.head()

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,HST,AST,HY,AY,HR,AR
0,16/08/2024,20:00,Man United,Fulham,1,0,H,R Jones,14,10,5,2,2,3,0,0
1,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,T Robinson,7,18,2,5,3,1,0,0
2,17/08/2024,15:00,Arsenal,Wolves,2,0,H,J Gillett,18,9,6,3,2,2,0,0
3,17/08/2024,15:00,Everton,Brighton,0,3,A,S Hooper,9,10,1,5,1,1,1,0
4,17/08/2024,15:00,Newcastle,Southampton,1,0,H,C Pawson,3,19,1,4,2,4,1,0

In [59]:
df = df.set_index('HomeTeam')

In [60]:
df.head()

,Date,Time,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,HST,AST,HY,AY,HR,AR
HomeTeam,,,,,,,,,,,,,,,
Man United,16/08/2024,20:00,Fulham,1,0,H,R Jones,14,10,5,2,2,3,0,0
Ipswich,17/08/2024,12:30,Liverpool,0,2,A,T Robinson,7,18,2,5,3,1,0,0
Arsenal,17/08/2024,15:00,Wolves,2,0,H,J Gillett,18,9,6,3,2,2,0,0
Everton,17/08/2024,15:00,Brighton,0,3,A,S Hooper,9,10,1,5,1,1,1,0
Newcastle,17/08/2024,15:00,Southampton,1,0,H,C Pawson,3,19,1,4,2,4,1,0

In [61]:
df.loc['Man City']

,Date,Time,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,HST,AST,HY,AY,HR,AR
HomeTeam,,,,,,,,,,,,,,,
Man City,24/08/2024,15:00,Ipswich,4,1,H,M Salisbury,14,1,5,1,2,3,0,0
Man City,14/09/2024,15:00,Brentford,2,1,H,D Bond,18,8,7,5,3,1,0,0
Man City,22/09/2024,16:30,Arsenal,2,2,D,M Oliver,33,5,11,3,3,4,0,1
Man City,05/10/2024,15:00,Fulham,3,2,H,P Bankes,20,11,7,4,2,1,0,0
Man City,26/10/2024,15:00,Southampton,1,0,H,T Harrington,22,5,8,2,1,3,0,0

In [62]:
df = df.reset_index('HomeTeam')

In [63]:
df.head()

,HomeTeam,Date,Time,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,HST,AST,HY,AY,HR,AR
0,Man United,16/08/2024,20:00,Fulham,1,0,H,R Jones,14,10,5,2,2,3,0,0
1,Ipswich,17/08/2024,12:30,Liverpool,0,2,A,T Robinson,7,18,2,5,3,1,0,0
2,Arsenal,17/08/2024,15:00,Wolves,2,0,H,J Gillett,18,9,6,3,2,2,0,0
3,Everton,17/08/2024,15:00,Brighton,0,3,A,S Hooper,9,10,1,5,1,1,1,0
4,Newcastle,17/08/2024,15:00,Southampton,1,0,H,C Pawson,3,19,1,4,2,4,1,0

In [64]:
df.columns

Index(['HomeTeam', 'Date', 'Time', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'Referee', 'HS', 'AS', 'HST', 'AST', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [65]:
df = df.rename(columns={
    'FTHG': 'Goals H',
    'FTAG': 'Goals A',
    'FTR': 'Result',
    'HS': 'Shoots H',
    'AS': 'Shoots A',
    'HST': 'Target H',
    'AST': 'Target A',
    'HY': 'Yellow H',
    'AY': 'Yellow A',
    'HR': 'Red H',
    'AR': 'Red A'
})

In [66]:
df.head()

,HomeTeam,Date,Time,AwayTeam,Goals H,Goals A,Result,Referee,Shoots H,Shoots A,Target H,Target A,Yellow H,Yellow A,Red H,Red A
0,Man United,16/08/2024,20:00,Fulham,1,0,H,R Jones,14,10,5,2,2,3,0,0
1,Ipswich,17/08/2024,12:30,Liverpool,0,2,A,T Robinson,7,18,2,5,3,1,0,0
2,Arsenal,17/08/2024,15:00,Wolves,2,0,H,J Gillett,18,9,6,3,2,2,0,0
3,Everton,17/08/2024,15:00,Brighton,0,3,A,S Hooper,9,10,1,5,1,1,1,0
4,Newcastle,17/08/2024,15:00,Southampton,1,0,H,C Pawson,3,19,1,4,2,4,1,0

In [67]:
df[df['Shoots H'] > 15]

,HomeTeam,Date,Time,AwayTeam,Goals H,Goals A,Result,Referee,Shoots H,Shoots A,Target H,Target A,Yellow H,Yellow A,Red H,Red A
2,Arsenal,17/08/2024,15:00,Wolves,2,0,H,J Gillett,18,9,6,3,2,2,0,0
12,Fulham,24/08/2024,15:00,Leicester,2,1,H,D Bond,18,10,6,4,2,2,0,0
17,Bournemouth,25/08/2024,14:00,Newcastle,1,1,D,D Coote,16,14,4,5,2,2,0,0
19,Liverpool,25/08/2024,16:30,Brentford,2,0,H,S Attwell,19,8,8,2,2,3,0,0
21,Brentford,31/08/2024,15:00,Southampton,3,1,H,J Smith,20,18,7,6,2,1,0,0
22,Everton,31/08/2024,15:00,Bournemouth,2,3,A,S Attwell,18,17,8,7,2,1,0,0
25,Nott'm Forest,31/08/2024,15:00,Wolves,1,1,D,S Hooper,16,11,5,3,3,4,0,0
31,Brighton,14/09/2024,15:00,Ipswich,0,0,D,S Barrott,21,6,6,1,4,3,0,0
32,Crystal Palace,14/09/2024,15:00,Leicester,2,2,D,T Harrington,20,9,4,4,0,3,0,0
33,Fulham,14/09/2024,15:00,West Ham,1,1,D,T Robinson,21,11,5,3,2,3,0,0
35,Man City,14/09/2024,15:00,Brentford,2,1,H,D Bond,18,8,7,5,3,1,0,0
36,Aston Villa,14/09/2024,17:30,Everton,3,2,H,C Pawson,17,6,8,2,1,4,0,0
37,Bournemouth,14/09/2024,20:00,Chelsea,0,1,A,A Taylor,19,10,7,3,6,8,0,0
42,Fulham,21/09/2024,15:00,Newcastle,3,1,H,P Bankes,22,15,11,4,6,0,0,0
44,Liverpool,21/09/2024,15:00,Bournemouth,3,0,H,T Harrington,19,19,13,6,1,4,0,0
46,Tottenham,21/09/2024,15:00,Brentford,3,1,H,J Brooks,23,6,10,6,3,1,0,0
49,Man City,22/09/2024,16:30,Arsenal,2,2,D,M Oliver,33,5,11,3,3,4,0,1
51,Arsenal,28/09/2024,15:00,Leicester,4,2,H,S Barrott,36,5,16,3,2,4,0,0
61,Arsenal,05/10/2024,15:00,Southampton,3,1,H,T Harrington,29,8,6,2,0,3,0,0
62,Brentford,05/10/2024,15:00,Wolves,5,3,H,A Madley,19,17,12,6,2,3,0,0
64,Man City,05/10/2024,15:00,Fulham,3,2,H,P Bankes,20,11,7,4,2,1,0,0
65,West Ham,05/10/2024,15:00,Ipswich,4,1,H,A Taylor,23,9,13,2,0,1,0,0
68,Chelsea,06/10/2024,14:00,Nott'm Forest,1,1,D,C Kavanagh,22,16,8,9,6,2,0,1
70,Tottenham,19/10/2024,12:30,West Ham,4,1,H,A Madley,22,11,7,4,1,3,0,1
73,Man United,19/10/2024,15:00,Brentford,2,1,H,S Barrott,23,8,11,2,2,2,0,0
74,Newcastle,19/10/2024,15:00,Brighton,0,1,A,P Bankes,21,10,6,5,2,2,0,0
79,Nott'm Forest,21/10/2024,20:00,Crystal Palace,1,0,H,T Robinson,20,20,6,7,2,3,0,0
81,Aston Villa,26/10/2024,15:00,Bournemouth,1,1,D,A Madley,18,11,8,3,7,6,0,0
82,Brentford,26/10/2024,15:00,Ipswich,4,3,H,L Smith,20,11,9,5,0,1,0,1
83,Brighton,26/10/2024,15:00,Wolves,2,2,D,M Oliver,19,14,6,7,3,3,0,0
84,Man City,26/10/2024,15:00,Southampton,1,0,H,T Harrington,22,5,8,2,1,3,0,0
86,Chelsea,27/10/2024,14:00,Newcastle,2,1,H,S Hooper,17,11,7,3,6,3,0,0
93,Liverpool,02/11/2024,15:00,Brighton,2,1,H,T Harrington,16,13,8,5,1,1,0,0
94,Nott'm Forest,02/11/2024,15:00,West Ham,3,0,H,P Bankes,19,4,6,2,1,2,0,1
97,Tottenham,03/11/2024,14:00,Aston Villa,4,1,H,C Pawson,16,12,6,1,2,0,0,0
99,Fulham,04/11/2024,20:00,Brentford,2,1,H,S Attwell,26,5,12,2,2,1,0,0

In [68]:
df[(df['Shoots H'] > 15) & (df['Shoots A'] > 15)]

,HomeTeam,Date,Time,AwayTeam,Goals H,Goals A,Result,Referee,Shoots H,Shoots A,Target H,Target A,Yellow H,Yellow A,Red H,Red A
21,Brentford,31/08/2024,15:00,Southampton,3,1,H,J Smith,20,18,7,6,2,1,0,0
22,Everton,31/08/2024,15:00,Bournemouth,2,3,A,S Attwell,18,17,8,7,2,1,0,0
44,Liverpool,21/09/2024,15:00,Bournemouth,3,0,H,T Harrington,19,19,13,6,1,4,0,0
62,Brentford,05/10/2024,15:00,Wolves,5,3,H,A Madley,19,17,12,6,2,3,0,0
68,Chelsea,06/10/2024,14:00,Nott'm Forest,1,1,D,C Kavanagh,22,16,8,9,6,2,0,1
79,Nott'm Forest,21/10/2024,20:00,Crystal Palace,1,0,H,T Robinson,20,20,6,7,2,3,0,0

In [69]:
df.head()

,HomeTeam,Date,Time,AwayTeam,Goals H,Goals A,Result,Referee,Shoots H,Shoots A,Target H,Target A,Yellow H,Yellow A,Red H,Red A
0,Man United,16/08/2024,20:00,Fulham,1,0,H,R Jones,14,10,5,2,2,3,0,0
1,Ipswich,17/08/2024,12:30,Liverpool,0,2,A,T Robinson,7,18,2,5,3,1,0,0
2,Arsenal,17/08/2024,15:00,Wolves,2,0,H,J Gillett,18,9,6,3,2,2,0,0
3,Everton,17/08/2024,15:00,Brighton,0,3,A,S Hooper,9,10,1,5,1,1,1,0
4,Newcastle,17/08/2024,15:00,Southampton,1,0,H,C Pawson,3,19,1,4,2,4,1,0

In [70]:
def goals(num,num1):
    return num + num1

In [71]:
goals(1,1)

2

In [72]:
df['all goals'] = df[['Goals H', 'Goals A']].apply(lambda row: goals(row['Goals H'], row['Goals A']), axis=1)

In [73]:
df.head(15)

,HomeTeam,Date,Time,AwayTeam,Goals H,Goals A,Result,Referee,Shoots H,Shoots A,Target H,Target A,Yellow H,Yellow A,Red H,Red A,all goals
0,Man United,16/08/2024,20:00,Fulham,1,0,H,R Jones,14,10,5,2,2,3,0,0,1
1,Ipswich,17/08/2024,12:30,Liverpool,0,2,A,T Robinson,7,18,2,5,3,1,0,0,2
2,Arsenal,17/08/2024,15:00,Wolves,2,0,H,J Gillett,18,9,6,3,2,2,0,0,2
3,Everton,17/08/2024,15:00,Brighton,0,3,A,S Hooper,9,10,1,5,1,1,1,0,3
4,Newcastle,17/08/2024,15:00,Southampton,1,0,H,C Pawson,3,19,1,4,2,4,1,0,1
5,Nott'm Forest,17/08/2024,15:00,Bournemouth,1,1,D,M Oliver,14,13,8,4,1,3,0,0,2
6,West Ham,17/08/2024,17:30,Aston Villa,1,2,A,T Harrington,14,15,3,3,1,2,0,0,3
7,Brentford,18/08/2024,14:00,Crystal Palace,2,1,H,S Barrott,9,14,5,6,1,5,0,0,3
8,Chelsea,18/08/2024,16:30,Man City,0,2,A,A Taylor,10,11,3,5,1,1,0,0,2
9,Leicester,19/08/2024,20:00,Tottenham,1,1,D,C Kavanagh,7,15,3,7,1,1,0,0,2
10,Brighton,24/08/2024,12:30,Man United,2,1,H,C Pawson,14,11,5,4,1,2,0,0,3
11,Crystal Palace,24/08/2024,15:00,West Ham,0,2,A,R Jones,14,18,2,3,1,1,0,0,2
12,Fulham,24/08/2024,15:00,Leicester,2,1,H,D Bond,18,10,6,4,2,2,0,0,3
13,Man City,24/08/2024,15:00,Ipswich,4,1,H,M Salisbury,14,1,5,1,2,3,0,0,5
14,Southampton,24/08/2024,15:00,Nott'm Forest,0,1,A,S Barrott,5,23,1,8,3,3,0,0,1

In [74]:
df[df['all goals'] > 5]

,HomeTeam,Date,Time,AwayTeam,Goals H,Goals A,Result,Referee,Shoots H,Shoots A,Target H,Target A,Yellow H,Yellow A,Red H,Red A,all goals
18,Wolves,25/08/2024,14:00,Chelsea,2,6,A,D England,12,14,4,8,2,3,0,0,8
51,Arsenal,28/09/2024,15:00,Leicester,4,2,H,S Barrott,36,5,16,3,2,4,0,0,6
53,Chelsea,28/09/2024,15:00,Brighton,4,2,H,P Bankes,15,15,7,5,3,2,0,0,6
62,Brentford,05/10/2024,15:00,Wolves,5,3,H,A Madley,19,17,12,6,2,3,0,0,8
82,Brentford,26/10/2024,15:00,Ipswich,4,3,H,L Smith,20,11,9,5,0,1,0,1,7

In [75]:
df.tail()

,HomeTeam,Date,Time,AwayTeam,Goals H,Goals A,Result,Referee,Shoots H,Shoots A,Target H,Target A,Yellow H,Yellow A,Red H,Red A,all goals
95,Southampton,02/11/2024,15:00,Everton,1,0,H,A Madley,9,16,2,5,4,2,0,0,1
96,Wolves,02/11/2024,17:30,Crystal Palace,2,2,D,A Taylor,11,19,6,7,1,2,0,0,4
97,Tottenham,03/11/2024,14:00,Aston Villa,4,1,H,C Pawson,16,12,6,1,2,0,0,0,5
98,Man United,03/11/2024,16:30,Chelsea,1,1,D,R Jones,11,12,4,3,6,2,0,0,2
99,Fulham,04/11/2024,20:00,Brentford,2,1,H,S Attwell,26,5,12,2,2,1,0,0,3

In [77]:
nd =  {
    "HomeTeam": ["Wolves"],
    "Date": ["09/11/2024"],
    "Time": ["16:00"],
    "AwayTeam": ["Southampton"],
    "Goals H": [2],
    "Goals A": [0],
    "Result": ["H"],
    "Referee": ["T Bramall"],
    "Shoots H": [8],
    "Shoots A": [9],
    "Target H": [4],
    "Target A": [0],
    "Yellow H": [1],
    "Yellow A": [4],
    "Red H": [0],
    "Red A": [0],
    "all goals": [2]
}

In [78]:

nd = p.DataFrame(nd)

df = p.concat([df,nd], ignore_index=True)

In [79]:
df.tail()

,HomeTeam,Date,Time,AwayTeam,Goals H,Goals A,Result,Referee,Shoots H,Shoots A,Target H,Target A,Yellow H,Yellow A,Red H,Red A,all goals
96,Wolves,02/11/2024,17:30,Crystal Palace,2,2,D,A Taylor,11,19,6,7,1,2,0,0,4
97,Tottenham,03/11/2024,14:00,Aston Villa,4,1,H,C Pawson,16,12,6,1,2,0,0,0,5
98,Man United,03/11/2024,16:30,Chelsea,1,1,D,R Jones,11,12,4,3,6,2,0,0,2
99,Fulham,04/11/2024,20:00,Brentford,2,1,H,S Attwell,26,5,12,2,2,1,0,0,3
100,Wolves,09/11/2024,16:00,Southampton,2,0,H,T Bramall,8,9,4,0,1,4,0,0,2

In [85]:
nd = {
    "HomeTeam": ["Crystal Palace", "West Ham","Brentford","Brighton","Liverpool","Nott'm Forest","Tottenham","Man United","Chelsea"],
    "Date": ["09/11/2024", "09/11/2024", "09/11/2024", "09/11/2024","09/11/2024","10/11/2024","10/11/2024","10/11/2024"],
    "Time": ["16:00", "16:00","16:00","18:30","21:00","15:00","15:00","15:00","17:30"],
    "AwayTeam": ["Fulham", "Everton","Bournemouth","Man City","Aston Villa","Newcastle","Ipswich","Leicester","Arsenal"],
    "Goals H": [0, 0, 3, 2, 2, 1, 1, 3, 1],
    "Goals A": [2, 0, 2, 1, 0, 3, 2, 0, 1],
    "Result": ["A", "D", "H", "H", "H", "A", "A", "H", "D"],
    "Referee": ["M Solberi", "S Attwell", "D Bond", "S Barrott", "D Kut", "A Taylor", "D England","P Bankes","M Oliver"],
    "Shoots H": [13, 11, 12, 10, 14, 9, 17, 13, 17],
    "Shoots A": [17, 18, 15, 15, 12, 17, 8, 6, 13],
    "Target H": [5, 6, 6, 4, 5, 3, 5, 3, 3],
    "Target A": [7, 4, 3, 6, 2, 6, 3, 5, 3],
    "Yellow H": [1, 1, 2, 3, 0, 1, 1, 0, 4],
    "Yellow A": [1, 2, 4, 3, 3, 1, 5, 1, 2],
    "Red H": [1, 0, 0, 0, 0, 0, 0, 0, 0],
    "Red A": [0, 0, 0, 0, 0, 0, 0, 0, 0],
    "all goals": [2, 0, 5, 3, 2, 4, 3, 3, 2]

}

In [86]:
df.head()

,HomeTeam,Date,Time,AwayTeam,Goals H,Goals A,Result,Referee,Shoots H,Shoots A,Target H,Target A,Yellow H,Yellow A,Red H,Red A,all goals
0,Man United,16/08/2024,20:00,Fulham,1,0,H,R Jones,14,10,5,2,2,3,0,0,1
1,Ipswich,17/08/2024,12:30,Liverpool,0,2,A,T Robinson,7,18,2,5,3,1,0,0,2
2,Arsenal,17/08/2024,15:00,Wolves,2,0,H,J Gillett,18,9,6,3,2,2,0,0,2
3,Everton,17/08/2024,15:00,Brighton,0,3,A,S Hooper,9,10,1,5,1,1,1,0,3
4,Newcastle,17/08/2024,15:00,Southampton,1,0,H,C Pawson,3,19,1,4,2,4,1,0,1

In [88]:
nd = p.DataFrame(nd)

df = p.concat([df,nd], ignore_index=True)

ValueError: All arrays must be of the same length

In [90]:
nd = {
    "HomeTeam": ["Crystal Palace", "West Ham", "Brentford", "Brighton", "Liverpool", "Nott'm Forest", "Tottenham", "Man United", "Chelsea"],
    "Date": ["09/11/2024", "09/11/2024", "09/11/2024", "09/11/2024", "09/11/2024", "10/11/2024", "10/11/2024", "10/11/2024", "10/11/2024"],
    "Time": ["16:00", "16:00", "16:00", "18:30", "21:00", "15:00", "15:00", "15:00", "17:30"],
    "AwayTeam": ["Fulham", "Everton", "Bournemouth", "Man City", "Aston Villa", "Newcastle", "Ipswich", "Leicester", "Arsenal"],
    "Goals H": [0, 0, 3, 2, 2, 1, 1, 3, 1],
    "Goals A": [2, 0, 2, 1, 0, 3, 2, 0, 1],
    "Result": ["A", "D", "H", "H", "H", "A", "A", "H", "D"],
    "Referee": ["M Solberi", "S Attwell", "D Bond", "S Barrott", "D Kut", "A Taylor", "D England", "P Bankes", "M Oliver"],
    "Shoots H": [13, 11, 12, 10, 14, 9, 17, 13, 17],
    "Shoots A": [17, 18, 15, 15, 12, 17, 8, 6, 13],
    "Target H": [5, 6, 6, 4, 5, 3, 5, 3, 3],
    "Target A": [7, 4, 3, 6, 2, 6, 3, 5, 3],
    "Yellow H": [1, 1, 2, 3, 0, 1, 1, 0, 4],
    "Yellow A": [1, 2, 4, 3, 3, 1, 5, 1, 2],
    "Red H": [1, 0, 0, 0, 0, 0, 0, 0, 0],
    "Red A": [0, 0, 0, 0, 0, 0, 0, 0, 0],
    "all goals": [2, 0, 5, 3, 2, 4, 3, 3, 2]
}

# Создаем DataFrame из исправленного словаря
nd = p.DataFrame(nd)

# Объединяем с исходным DataFrame (df)
df = p.concat([df, nd], ignore_index=True)

In [93]:
df.tail()

,HomeTeam,Date,Time,AwayTeam,Goals H,Goals A,Result,Referee,Shoots H,Shoots A,Target H,Target A,Yellow H,Yellow A,Red H,Red A,all goals
105,Liverpool,09/11/2024,21:00,Aston Villa,2,0,H,D Kut,14,12,5,2,0,3,0,0,2
106,Nott'm Forest,10/11/2024,15:00,Newcastle,1,3,A,A Taylor,9,17,3,6,1,1,0,0,4
107,Tottenham,10/11/2024,15:00,Ipswich,1,2,A,D England,17,8,5,3,1,5,0,0,3
108,Man United,10/11/2024,15:00,Leicester,3,0,H,P Bankes,13,6,3,5,0,1,0,0,3
109,Chelsea,10/11/2024,17:30,Arsenal,1,1,D,M Oliver,17,13,3,3,4,2,0,0,2